  :root{
    --dark-green: #28b485;
    --light-green: #7ed56f;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.u-text-center{
    text-align: center;
}
.m-b-80{
    margin-bottom: 80px;
}
.m-b-30{
    margin-bottom: 30px;
}
.d-flex{
    display: flex;
}
.flex-gap{
    gap:50px;
}
.col-1-of-2{
    width: 50%;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #777;
}
.header{
    height: 90vh;
    background-image: linear-gradient( to right bottom, rgba(37, 164, 186, 0.861), rgba(7, 80, 153, 0.865)), 
    url(image/images.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}
.logo{
    position: absolute;
    top: 6px;
    left: 6px;
    height: 45px;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(75%, -75%);
    text-align: center;
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.heading-primary-main{
    display: block;
    font-size: 46px;
    letter-spacing: 24px;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 2s;
}
.heading-primary-sub{
    display: block;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 5px;
    animation-name: moveInRight;
    animation-duration: 2s;
}
.btn:link,
.btn:visited{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline block;
    border-radius: 100px;
    transition: all 0.2s;
}
.btn-white{
    background-color: #fff;
}
 .btn:hover{
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.2);
 }
 .btn:active{
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.2);
 }
 .btn::after{
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all 0.4s;
 }
 .btn-white::after{
    background-color: #fff;
 }
 .btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
 }
 .btn-animated {
    animation: moveInTop .2s ease-out 0.75s;
 }
.about-section{
    padding: 200px 150px;
    background-color: #f7f7f7;
    margin-top: -15vh;
}
.heading-secondary{
    background-image: linear-gradient( to right bottom, rgba(37, 164, 186, 1), rgba(7, 80, 153, 1));
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 700;
    transition: all 0.2s;
}
.heading-secondary:hover{
    text-shadow: rgba(0, 0, 0, 0.2);
    transform: skewY(3deg) skewX(10deg);
}
.heading-third{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.paragraph:not(:last-child){
    margin-bottom: 30px;
}
.btn-text{
    text-decoration: none;
    color: var(--dark-green);
    border-bottom: 1px solid var(--light-green);
    padding-bottom:3px ;
    transition: all 0.2s;
}
.btn-text:hover{
    background-color: var(--dark-green);
    border-radius: 100px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 20px;
}
.img{
    width: 55%;
    position: absolute;
    transition: transform 0.2s;
    outline-offset: 10px;
}
.image-box{
    position: relative;
}
.image-1{
    left: 0;
    top: -20px;
    z-index: 1;
}
.image-2{
    right: 0;
    top: 20px;
    z-index: 2;
}
.image-3{
    left: 25%;
    top: 100px;
    z-index: 3;
}
.img:hover{
    transform: scale(1.05);
    z-index: 10;
    outline: 4px solid var(--dark-green);
}
.img-box:hover .img:not(:hover){
    transform: scale(0.9);
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
